<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>关于</title>
</head>

<body>
    <h3 style="color:cornflowerblue;font-size:20px">关于我们</h3>
    <hr> 地址：黄山经济开发区梅林大道89号综合孵化大楼
    <br> 邮箱：sunchen@luomisun.com
    <br> 移动电话：18049040679
    <br>网址:
    <a href="javascript:void(0)" onclick="openurl('http://www.lmgateway.com')">www.lmgateway.com</a>
    <div style="position:absolute;right:10px;bottom:10px;">
        <hr> 2011-2017 黄山罗米测控技术有限公司 All rights reserved
    </div>
</body>

</html>