<!doctype html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<style type="text/css">
    .input_container {
        margin-bottom: 32px;
    }
</style>

<head>
    <meta charset="UTF-8" />
    <link rel="shortcut icon" href="../static/favicon.ico">
    <link rel=stylesheet href="../static/easyui/themes/bootstrap/easyui.css">
    <link rel=stylesheet href="../static/easyui/themes/icon.css">
    <link rel=stylesheet href="../static/rewriteui/css/rewrite.css">
    <script src="../static/easyui/jquery.min.js"></script>
    <script src="../static/easyui/jquery.easyui.min.js"></script>
    <script src="../static/javascript/api.js"></script>
</head>

<script>
    window.onload = function() {  
        if (self.parent.initial == 'zh-CN') {
            $.getScript("../static/easyui/locale/easyui-lang-zh_CN.js"); 
        } else {   
            $.getScript("../static/easyui/locale/easyui-lang-en.js"); 
        }
    }

    $(function() {
        initial = self.parent.initial;
        value = get_baseurl()
        $.messager.confirm(self.parent.messages[initial]['common']['system_hint'], self.parent.messages[initial]['index']['if_gw_update'].format(value), function(r) {
            if (r) {
                $.ajax({
                    type: 'get',
                    url: 'http://' + value + '/get_version',
                    timeout: 5000,
                    success: function(data) {
                        gwModel = data['gwModel'];
                        if ('GT6657' == gwModel) {
                            file_list = JSON.parse(scanFile(getCurrentDirectory() + '\\Firmware\\A9\\'))
                            if (file_list[0] == 'update.tar.gz') {
                                cfxApi.uploadFileFtp('/home/', 'update.tar.gz', getCurrentDirectory() + '\\Firmware\\A9\\update.tar.gz', function(status) {
                                    if (status) {
                                        self.parent.insert_info(self.parent.messages[initial]['index']['update_success'])
                                        reboot_gw(value);
                                    } else {
                                        self.parent.insert_info(self.parent.messages[initial]['index']['download_fail'])
                                    }
                                })
                            } else {
                                $.messager.alert(messages[initial]['common']['system_hint'], messages[initial]['index']['nothave_updatefile'], "info");
                            }
                        } else {
                            file_list = JSON.parse(scanFile(getCurrentDirectory() + '\\Firmware\\ARM\\'))
                            if (file_list[0] == 'update.tar.gz') {
                                cfxApi.uploadFileFtp('/home/', 'update.tar.gz', getCurrentDirectory() + '\\Firmware\\ARM\\update.tar.gz', function(status) {
                                    if (status) {
                                        self.parent.insert_info(self.parent.messages[initial]['index']['update_success'])
                                        reboot_gw(value);
                                    } else {
                                        self.parent.insert_info(self.parent.messages[initial]['index']['download_fail'])
                                    }
                                })
                            } else {
                                $.messager.alert(messages[initial]['common']['system_hint'], messages[initial]['index']['nothave_updatefile'], "info");
                            }
                        }

                    },
                    error: function() {
                        $.messager.alert(messages[initial]['common']['system_hint'], messages[initial]['index']['connectip_fail'].format(value), "info");
                    }
                });
            }
        });
    });

    function reboot_gw(value) {
        $.ajax({
            type: 'post',
            url: 'http://' + value + '/gw_reboot',
            data: "true",
            timeout: 5000,
            success: function(data) {
                if (data['result']) {
                    self.parent.insert_info(self.parent.messages[initial]['index']['gw_reboot_success'])
                } else {
                    self.parent.insert_info("Reboot fail")
                }
            },
            error: function() {
                $.messager.alert(self.parent.messages[initial]['common']['system_hint'], self.parent.messages[initial]['index']['connectip_fail'].format(value), "info");
            }
        });
    }
</script>