<!doctype html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
    <meta charset="UTF-8" />
    <script src="../static/easyui/jquery.min.js"></script>
    <link rel="shortcut icon" href="../static/favicon.ico">
    <link rel=stylesheet href="../static/easyui/themes/bootstrap/easyui.css">
    <link rel=stylesheet href="../static/easyui/themes/icon.css">
    <link rel=stylesheet href="../static/rewriteui/css/rewrite.css">
    <script src="../static/easyui/jquery.easyui.min.js"></script>
    <script src="../static/javascript/language.js"></script>
    <script src="../static/easyui/jquery.edatagrid.js"></script>
    <script src="../static/easyui/jquery.easyui.validatex.js"></script>
    <script src="../static/javascript/api.js"></script>
    <script src="../static/resource/vue.min.js"></script>
    <script src="../static/resource/vue-i18n.min.js"></script>
    <script src="../static/javascript/luomiyun.js"></script>
    <script src="../static/javascript/http_upload.js"></script>
    <style type="text/css">
        body {
            opacity: 0;
            transition: opacity 0.2s
        }
        
        body.active {
            opacity: 1
        }
    </style>
</head>

<body>
    <div id='app' style="position:absolute; width:100%;height:100%;left:0;top:0">
        <div class="easyui-layout" data-options="fit:true">
            <div data-options="region:'west'" style="width:440px">
                <div class="container">
                    <div class="container" style="width:440px;margin-left:auto;margin-right:auto;">
                        <form id="querytb">
                            <div class="easyui-panel" style="width:440px;padding:15px;" title="  ">
                                <div style="margin-bottom: 10px;">
                                    <label class="my_protocol" style="font-size:16px;"><input id="mqtt_check" class="input_agreement_protocol" type="checkbox"><span></span>{{ $t('mqtt.used') }}</label>
                                </div>
                                <div style="margin-bottom:10px">
                                    <label class="querytb-label">{{ $t('mqtt.ipaddr') }}</label>
                                    <input id='ip' class="easyui-textbox" required="true" style="width:200px;height:24px">
                                </div>
                                <div style="margin-bottom:10px">
                                    <label class="querytb-label">{{ $t('mqtt.clientid') }}</label>
                                    <input id='clientid' class="easyui-textbox" required="true" style="width:200px;height:24px">
                                </div>
                                <div style="margin-bottom:20px">
                                    <label class="querytb-label">{{ $t('mqtt.freq') }}</label>
                                    <input id='freq' class="easyui-textbox" required="true" style="width:200px;height:24px">
                                </div>
                                <div class="separated"></div>
                                <div class="changemqttbtn">
                                    <a id="uploadcloud" onclick="upload_cloud()" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-upload-project'">{{ $t('index.luomiyun') }}</a>
                                    <a id="changemqttbtn" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-ok'">{{ $t('common.save') }}</a>
                                </div>                                
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div data-options="region:'center'">
                <table id="luomiyun_json_config" style="width:100%;height:100%;" scrolling="auto" singleSelect="true" class="easyui-datagrid" data-options="fit:true,fitColumns:true,rownumbers:true,pagination:false">
                </table>
            </div>
        </div>
    </div>
</body>

<script>
    window.onload = function() {  
        contextPath = '../static/easyui/locale/'
        if (self.parent.vm.$i18n.locale == 'zh-CN') {
            $.getScript("../static/easyui/locale/easyui-lang-zh_CN.js"); 
        } else {   
            $.getScript("../static/easyui/locale/easyui-lang-en.js"); 
        }
    }

    Vue.use(VueI18n)

    var initial = self.parent.vm.$i18n.locale
    var i18n = new VueI18n({
        locale: initial,
        messages: self.parent.messages
    })
    var vm = new Vue({
        i18n: i18n,
        data: {
            locale: initial,
            mqtt_config: self.parent.messages[initial]['mqtt']['mqtt_config'],
            point_table: self.parent.messages[initial]['mqtt']['point_table'],
            identifying: self.parent.messages[initial]['mqtt']['identifying']
        },
        watch: {
            locale: function(val) {
                this.$i18n.locale = val
            }
        }
    }).$mount('#app')


    $('body').addClass('active')

    var dir = self.parent.$('#text').textbox('getText'); // 选中的文件夹名称
    feature_path = 'Project/' + dir + '/Gateway';

    $(function() {
        content = selectsql(feature_path, "select used,config from iot where name='LUOMIYUN'");
        content_object = JSON.parse(content);
        obj = JSON.parse(content_object[0]['config']);
        used = JSON.parse(content_object[0]['used']);
        if (used) {
            $("#mqtt_check").prop("checked", true);
        }

        $('#ip').textbox({
            value: obj['base']['ip']
        });
        $('#clientid').textbox({
            value: obj['base']['clientid']
        });
        $('#freq').textbox({
            value: obj['publish']['realtime'][0]['freq']
        });
    });

    $('#changemqttbtn').click(function() {
        if ($('#querytb').form('validate')) {
            used = $("#mqtt_check").is(":checked");
            oldcontent = selectsql(feature_path, "select config from iot where name='LUOMIYUN'");
            oldcontent_object = JSON.parse(oldcontent);
            old = JSON.parse(oldcontent_object[0]['config']);
            clientid = document.getElementById('clientid').value;
            if (clientid.indexOf('/') != -1) {
                username = clientid.split('/')[1];
                var content = {
                    base: {
                        ip: document.getElementById('ip').value,
                        port: 1883,
                        keep_alive: 60,
                        timeout: 30,
                        clean_session: false,
                        username: username,
                        password: username,
                        clientid: document.getElementById('clientid').value,
                        lastwill: {
                            topic: "lm/gw/lastwill/" + username,
                            qos: 0,
                            retain: false,
                            message: "unusual disconnect"
                        }
                    },
                    publish: {
                        'realtime': [{
                            "filter": [],
                            "format": "DCC",
                            "topic": "lm/gw/status/" + username,
                            "freq": parseInt(document.getElementById('freq').value),
                            "qos": 0,
                            "retain": false
                        }],
                        "history": {
                            topic: "lm/gw/history/" + username,
                            qos: 2,
                            retain: false
                        },
                        "writeResponse": {
                            topic: "lm/gw/ctrlResponse/" + username,
                            qos: 0,
                            retain: false
                        },
                        "inquireResponse": {
                            topic: "lm/gw/inquireResponse/" + username,
                            qos: 0,
                            retain: false
                        },
                        "rebootResponse": {
                            topic: "lm/gw/reboot/" + username,
                            qos: 0,
                            retain: false
                        }
                    },
                    subscribe: {
                        "inquire": {
                            topic: "lm/dcc/inquire/" + username,
                            qos: 0
                        },
                        "reboot": {
                            topic: "lm/dcc/reboot/" + username,
                            qos: 0
                        },
                        "write": {
                            topic: "lm/dcc/ctrlRequest/" + username,
                            qos: 0,
                            format: "default"
                        },
                        "config": {
                            topic: "lm/dcc/dbconfig/" + username,
                            qos: 0
                        }
                    }
                }
                update_mqttconf(feature_path, used, content);
            } else {
                $.messager.alert(self.parent.messages[initial]['common']['system_hint'], self.parent.messages[initial]['luomiyun']['clientid_error'], "info");
            }
        }
    });

    function update_mqttconf(feature_path, used, content) {
        enable = 0;
        if (used) {
            enable = 1
        }
        result = updatesql(feature_path, "update iot SET used={0}, config='{1}' where name='LUOMIYUN'".format(enable, JSON.stringify(content)));
        if (result == 'true') {
            $("#luomiyun_json_config").datagrid('reload');
            self.parent.insert_info(self.parent.messages[initial]['mqtt']['config_save_success']);
        } else {
            $.messager.alert(result);
            self.parent.insert_info(self.parent.messages[initial]['mqtt']['config_save_fail'])
        }
    }
</script>