<!doctype html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
    <meta charset="UTF-8" />
    <link rel="shortcut icon" href="../static/favicon.ico">
    <link rel=stylesheet href="../static/easyui/themes/bootstrap/easyui.css">
    <link rel=stylesheet href="../static/easyui/themes/icon.css">
    <link rel=stylesheet href="../static/rewriteui/css/rewrite.css">
    <script src="../static/easyui/jquery.min.js"></script>
    <script src="../static/easyui/jquery.easyui.min.js"></script>
    <script src="../static/javascript/language.js"></script>
    <script src="../static/easyui/jquery.edatagrid.js"></script>
    <script src="../static/easyui/jquery.easyui.validatex.js"></script>
    <script src="../static/javascript/api.js"></script>
    <script src="../static/resource/vue.min.js"></script>
    <script src="../static/resource/vue-i18n.min.js"></script>
    <script src="../static/resource/datetime.js"></script>
    <script src="../static/javascript/real_data.js"></script>
    <script src='../static/resource/echarts.min.js'></script>
    <script src="../static/javascript/base-loading.js"></script>

</head>

<style type="text/css">
  
    table {
        border-collapse: collapse;
        border-spacing: 0;
        text-align: center;
        font: normal 12px "\5FAE\8F6F\96C5\9ED1";
        color: #444;
    }
    
    table th {
        height: 28px;
        line-height: 28px;
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#eff5fe', endColorstr='#e0ecff', GradientType=0);
        border-bottom: #e6e6e6 1px solid;
        border-right: #e6e6e6 1px solid;
    }
    
    table td {
        height: 28px;
        line-height: 28px;
        border: #e6e6e6 1px solid;
        padding: 0px;
    }
    
    table tr:nth-child(odd) {
        background: #f5f5f5;
    }
    
    table tr:hover {
        background: #e6e6e6;
    }
</style>


<body>
    <div id='app' style="position:absolute; width:100%;height:100%;left:0;top:0">
        <div class="easyui-layout" data-options="fit:true">
            <div data-options="region:'west',title:'',split:true" style="width:200px;">
                <div class="easyui-layout">
                    <ul id="list">
                    </ul>
                    <!--<div data-options="region:'north',split:true" style="width:200px;height: 200px">
                <ul id="list">
                </ul>
            </div>
            <div  data-options="region:'center',title:'上传协议状态'">
                <ul id="protocol" class="easyui-tree">
                    <li>
                        <span>上传协议</span>
                    </li>
                </ul>
            </div>-->
                </div>
            </div>
            <div id="app" data-options="region:'center'" v-bind:title="data">
                <a v-on:click="button" href="#" class="easyui-linkbutton" plain="true" data-options="iconCls:'icon-reload'">Refresh</a>
                <table id="t1" border="1px" cellspacing="0" width="100%">
                    <tr align="center">
                        <td>{{ $t('real_data.name') }}</td>
                        <td>value</td>
                        <td>quality</td>
                        <td>{{ $t('real_data.timestamp') }}</td>
                        <!-- <td></td> -->
                    </tr>
                    <tr v-for="value,index in filterValues" align="center">
                        <td>{{ value.id }}</td>
                        <td @click="edit(index)" contenteditable="true">{{ value.val }}</td>
                        <td>{{ value.status }}</td>
                        <td>{{ value.timestamp }}</td>
                        <!-- <td @click="history(index)" contenteditable="true"><a href="http://www.w3school.com.cn">历史数据</a></td> -->
                    </tr>
                </table>
            </div>
            <div id="updata_val_dialog" style="width:350px;height:250px;padding:10px;display:none">
                <input class="easyui-textbox" editable=false id='id' v-bind:label="name" labelWidth="70px" style="height:25px;width:250px"><br><br>
                <input class="easyui-textbox" id='val' label="value: " labelWidth="70px" style="height:25px;width:250px"><br><br>
                <input class="easyui-textbox" editable=false id='status' label="quality: " labelWidth="70px" style="height:25px;width:250px"><br><br>
                <input class="easyui-textbox" editable=false id='timestamp' v-bind:label="timestamp" labelWidth="70px" style="height:25px;width:250px">
            </div>
            <div id="aisle_log" class="easyui-menu" style="width:120px;">
                <div onclick="message_dialog()" data-options="iconCls:'icon-message'">报文</div>
                <div data-options="iconCls:'icon-cancel'">取消</div>
            </div>
            <div id="message_dialog" style="width:500px;height:400px;padding:10px;display:none">
                <textarea id="real_message" style="width: 98%;height: 98%;max-width: 98%;max-height: 98%;resize: none;"></textarea>
                <!--width: 98%;height: 98%;max-width: 98%;max-height: 98%固定textarea大小;resize: none 去除textarea拖动图标  -->
            </div>
        </div>
    </div>
</body>
<script>
    window.onload = function() {  
        contextPath = '../static/easyui/locale/'
        if (self.parent.initial == 'zh-CN') {
            $.getScript("../static/easyui/locale/easyui-lang-zh_CN.js"); 
        } else {   
            $.getScript("../static/easyui/locale/easyui-lang-en.js"); 
        }
    }

    Vue.use(VueI18n)

    var initial = self.parent.initial
    var i18n = new VueI18n({
        locale: initial,
        messages: self.parent.messages
    })
    var index_number = 0;
    var app = new Vue({
        i18n: i18n,
        data: {
            locale: initial,
            searchText: '',
            orderType: 0,
            values: [],
            iddatas: [],
            data: self.parent.messages[initial]['real_data']['data'],
            name: self.parent.messages[initial]['real_data']['name'],
            timestamp: self.parent.messages[initial]['real_data']['timestamp'],
            books: [{
                name: 'Vue.js',
                price: 50
            }, {
                name: 'Javascript',
                price: 30
            }, {
                name: 'Css',
                price: 40
            }, {
                name: 'Html',
                price: 60
            }]
        },
        computed: { // 计算属性
            filterValues() {
                // 排序
                if (this.orderType) {
                    this.values.sort(function(p1, p2) {
                        return p1['id'].localeCompare(p2['id'])
                    })
                }
                return this.values;
            }
        },
        watch: {
            locale: function(val) {
                this.$i18n.locale = val
            }
        },
        methods: {
            greet: function(event) {
                select = $('#list').tree('getSelected');
                if (select != null) {
                    var level = easyui_tree_options.getLevel('#list', select);
                    console.log(select)
                    data_ajax(select, level)
                } else {
                    data_ajax(null, 1)
                }
            },
            button: function(event) {
                select = $('#list').tree('getSelected');
                if (select != null) {
                    var level = easyui_tree_options.getLevel('#list', select);
                    data_ajax(select, level)
                } else {
                    data_ajax(null, 1)
                }
            },
            echarts: function(event) {
                data_list = [];
                time_list = [];
                this.iddatas.forEach(function(tag) {
                    data_list.push(parseFloat(tag['val']));
                    time_list.push(tag['timestamp']);
                })
                var myChart = echarts.init(document.getElementById('chart'));

                options = {
                    title: {
                        text: '设备历史采集数据趋势图',
                        subtext: '数据来自黄山罗米测控技术有限公司',
                        x: 'center'
                    },
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                            animation: false
                        }
                    },
                    legend: {
                        data: ['采集值'],
                        x: 'left'
                    },
                    toolbox: {
                        feature: {
                            dataZoom: {
                                yAxisIndex: 'none'
                            },
                            restore: {},
                            saveAsImage: {}
                        }
                    },
                    axisPointer: {
                        link: {
                            xAxisIndex: 'all'
                        }
                    },
                    dataZoom: [{
                        show: true,
                        realtime: true,
                        start: 30,
                        end: 70,
                        xAxisIndex: [0]
                    }],
                    grid: [{
                        left: 50,
                        right: 50,
                        height: '70%'
                    }],
                    xAxis: [{
                        type: 'category',
                        boundaryGap: false,
                        axisLine: {
                            onZero: true
                        },
                        data: time_list
                    }],
                    yAxis: [{
                        name: '采集值(度)',
                        type: 'value',
                        max: Math.max.apply(null, data_list) // x轴最大值为数据列表中的最大值
                    }],
                    series: [{
                        name: '采集值',
                        type: 'line',
                        symbolSize: 8,
                        hoverAnimation: false,
                        data: data_list
                    }]
                };
                myChart.setOption(options);
                $('#chart_dialog').dialog({
                    title: self.parent.messages[initial]['real_data']['write_operate'],
                    closable: true,
                    draggable: false,
                    modal: true
                });
            },
            edit: function(index) {
                index_number = index;
                $("#id").textbox('setText', this.values[index].id);
                $("#val").textbox('setText', this.values[index].val);
                $("#status").textbox('setText', this.values[index].status);
                $("#timestamp").textbox('setText', this.values[index].timestamp);
                $('#updata_val_dialog').dialog({
                    title: self.parent.messages[initial]['real_data']['write_operate'],
                    closable: false,
                    draggable: false,
                    modal: true,
                    buttons: [{
                        text: self.parent.messages[initial]['real_data']['write'],
                        iconCls: 'icon-ok',
                        handler: function() {
                            id = $("#id").textbox('getText');
                            val = $("#val").textbox('getText');
                            write_operate(id, val);
                            $('#updata_val_dialog').dialog('close')
                        }
                    }, {
                        text: self.parent.messages[initial]['common']['cancel'],
                        iconCls: 'icon-cancel',
                        handler: function() {
                            $('#updata_val_dialog').dialog('close')
                        }
                    }]
                });
            },
            history: function(index) {
                // index_number = index;
                id = this.values[index].id;
                value = get_baseurl();
                $.ajax({
                    type: 'post',
                    url: 'http://' + value + '/get_idhistory',
                    data: {
                        'id': id
                    },
                    timeout: 5000,
                    success: function(value) {
                        value = JSON.parse(value);
                        value.forEach(function(tag) {
                                var time = new Date(tag['timestamp'] * 1000);
                                tag['timestamp'] = DateUtil.dateToStr("yyyy-MM-dd HH:mm:ss", time);
                            })
                            // app.iddatas = value;
                        self.parent.id_history(value);
                    },
                    error: function() {
                        $.messager.alert(self.parent.messages[initial]['common']['system_hint'], self.parent.messages[initial]['index']['connectip_fail'].format(value), "info");
                    }
                });
                // $('#history_data_dialog').dialog({
                //     title: '历史数据',
                //     closable: false,
                //     draggable: false,
                //     modal: true,
                //     buttons: [{
                //         text: self.parent.messages[initial]['common']['ok'],
                //         iconCls: 'icon-ok',
                //         handler: function() {

                //             $('#history_data_dialog').dialog('close')
                //         }
                //     }, {
                //         text: self.parent.messages[initial]['common']['cancel'],
                //         iconCls: 'icon-cancel',
                //         handler: function() {
                //             $('#history_data_dialog').dialog('close')
                //         }
                //     }]
                // });
            },
        }
    }).$mount('#app')

    function write_operate(id, val) {
        data = JSON.stringify({
            'operate': 'write',
            "sequenceId": 123,
            'id': id,
            'val': val
        })
        value = get_baseurl();
        $.ajax({
            type: 'post',
            url: 'http://' + value + '/ctrlRequest',
            data: {
                'requestData': data
            },
            timeout: 5000,
            success: function(callback) {
                setTimeout('app.greet()', 1000)
                    // $.messager.alert(self.parent.messages[initial]['common']['system_hint'], self.parent.messages[initial]['real_data']['Successfully_written'], "info")
            }
        });
    }
</script>