<!doctype html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
    <meta charset="UTF-8" />
    <link rel="shortcut icon" href="../static/favicon.ico">
    <link rel=stylesheet href="../static/easyui/themes/bootstrap/easyui.css">
    <link rel=stylesheet href="../static/easyui/themes/icon.css">
    <link rel=stylesheet href="../static/rewriteui/css/rewrite.css">
    <script src="../static/easyui/jquery.min.js"></script>
    <script src="../static/easyui/jquery.easyui.min.js"></script>
    <script src="../static/javascript/language.js"></script>
    <script src="../static/easyui/jquery.edatagrid.js"></script>
    <script src="../static/easyui/jquery.easyui.validatex.js"></script>
    <script src="../static/javascript/api.js"></script>
    <script src="../static/resource/vue.min.js"></script>
    <script src="../static/resource/vue-i18n.min.js"></script>
    <script src="../static/resource/datetime.js"></script>
    <script src="../static/javascript/select_alarm.js"></script>
    <script src="../static/javascript/base-loading.js"></script>

</head>


<body>
    <div id='app' style="position:absolute; width:100%;height:100%;left:0;top:0">
        <div class="easyui-layout" data-options="fit:true">

            <div data-options="region:'north'" style="height:80px;">
                <div style="padding-left:20px;padding-top:20px;">
                    <input class="easyui-datetimebox" v-bind:label="start_time" labelWidth="70px" data-options="required:true,showSeconds:true" id="start_time" value="4/17/2019 0:0:0" style="width:250px">&nbsp;&nbsp;&nbsp;&nbsp;
                    <input class="easyui-datetimebox" v-bind:label="stop_time" labelWidth="70px" data-options="required:true,showSeconds:true" id="stop_time" value="4/17/2019 0:0:0" style="width:250px">&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="#" class="easyui-linkbutton " iconCls="icon-ok" onclick="data_ajax()">{{ $t('offline_data.Inquire') }}</a>
                </div>
            </div>
            <div data-options="region:'center'">
                <table id="alarm_xls_config" style="width:100%;height:100%;" scrolling="auto" singleSelect="true" class="easyui-datagrid" data-options="fit:true,fitColumns:true,rownumbers:true,pagination:false">
                </table>
            </div>
        </div>
    </div>
</body>
<script>
    window.onload = function() {  
        contextPath = '../static/easyui/locale/'
        if (self.parent.vm.$i18n.locale == 'zh-CN') {
            $.getScript("../static/easyui/locale/easyui-lang-zh_CN.js"); 
        } else {   
            $.getScript("../static/easyui/locale/easyui-lang-en.js"); 
        }
    }

    $.fn.datetimebox.defaults.formatter = function(date) {
        //显示格式: 2017-05-08 17(只显示年月日和小时)
        var year = date.getFullYear();
        var month = date.getMonth() + 1;
        var day = date.getDate();
        var hour = date.getHours();
        var min = date.getMinutes();
        var sec = date.getSeconds();
        month = month < 10 ? '0' + month : month;
        day = day < 10 ? '0' + day : day;
        hour = hour < 10 ? '0' + hour : hour;
        min = min < 10 ? '0' + min : min;
        sec = sec < 10 ? '0' + sec : sec;
        return year + "-" + month + "-" + day + " " + hour + ":" + min + ":" + sec;
    }

    Vue.use(VueI18n)

    var initial = self.parent.initial
    var i18n = new VueI18n({
        locale: initial,
        messages: self.parent.messages
    })
    var index_number = 0;
    var app = new Vue({
        i18n: i18n,
        data: {
            locale: initial,
            values: [],
            Inquire_settings: self.parent.messages[initial]['offline_data']['Inquire_settings'],
            start_time: self.parent.messages[initial]['offline_data']['Start_time'],
            stop_time: self.parent.messages[initial]['offline_data']['Stop_time'],
            historical_data: self.parent.messages[initial]['offline_data']['historical_data']
        },
        watch: {
            locale: function(val) {
                this.$i18n.locale = val
            }
        }
    }).$mount('#app')
</script>