<!doctype html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
    <meta charset="UTF-8" />
    <link rel="shortcut icon" href="../static/favicon.ico">
    <link rel=stylesheet href="../static/easyui/themes/bootstrap/easyui.css">
    <link rel=stylesheet href="../static/easyui/themes/icon.css">
    <link rel=stylesheet href="../static/rewriteui/css/rewrite.css">
    <script src="../static/easyui/jquery.min.js"></script>
    <script src="../static/easyui/jquery.easyui.min.js"></script>
    <script src="../static/javascript/language.js"></script>
    <script src="../static/easyui/jquery.edatagrid.js"></script>
    <script src="../static/easyui/jquery.easyui.validatex.js"></script>
    <script src="../static/javascript/api.js"></script>
    <script src="../static/resource/vue.min.js"></script>
    <script src="../static/resource/vue-i18n.min.js"></script>
    <script src="../static/javascript/system_point.js"></script>
    <script src="../static/javascript/base-loading.js"></script>
</head>

<body>
    <div id='app' style="position:absolute; width:100%;height:100%;left:0;top:0">
        <div class="easyui-layout" data-options="fit:true">
            <div data-options="region:'center',split:false">
                <table id="system_xls_config" style="width:100%;height:100%;" scrolling="auto" singleSelect="true" class="easyui-datagrid" data-options="fit:true,fitColumns:true,rownumbers:true,pagination:false">
                </table>
            </div>
        </div>
    </div>
</body>
<script>
    window.onload = function() {  
        contextPath = '../static/easyui/locale/'
        if (self.parent.vm.$i18n.locale == 'zh-CN') {
            $.getScript("../static/easyui/locale/easyui-lang-zh_CN.js"); 
        } else {   
            $.getScript("../static/easyui/locale/easyui-lang-en.js"); 
        }
    }

    Vue.use(VueI18n)

    var initial = self.parent.vm.$i18n.locale
    var i18n = new VueI18n({
        locale: initial,
        messages: self.parent.messages
    })
    var vm = new Vue({
        i18n: i18n,
        data: {
            locale: initial,
            system: self.parent.messages[initial]['index']['system']
        },
        watch: {
            locale: function(val) {
                this.$i18n.locale = val
            }
        }
    }).$mount('#app')
</script>