<!doctype html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<style type="text/css">
    .input_container {
        margin-bottom: 32px;
    }
</style>

<head>
    <meta charset="UTF-8" />
    <link rel="shortcut icon" href="../static/favicon.ico">
    <link rel=stylesheet href="../static/easyui/themes/bootstrap/easyui.css">
    <link rel=stylesheet href="../static/easyui/themes/icon.css">
    <link rel=stylesheet href="../static/rewriteui/css/rewrite.css">
    <script src="../static/easyui/jquery.min.js"></script>
    <script src="../static/easyui/jquery.easyui.min.js"></script>
    <script src="../static/easyui/locale/easyui-lang-zh_CN.js"></script>
    <script src="../static/javascript/api.js"></script>
    <script src="../static/resource/vue.min.js"></script>
    <script src="../static/resource/vue-i18n.min.js"></script>
</head>

<body>
    <div id='app'>
        <!-- 输入密码窗口 -->
        <div id="enter_passwd_dialog" style="width:350px;height:150px;padding:10px;display:none">

            <label for="enter_passwd">{{ $t('index.enter_passwd') }}</label>
            <input class="easyui-textbox" type="password" id="enter_passwd" style="width: 200px;" validType='maxLength[15]'><br><br>
        </div>

        <!-- 新建工程窗口 -->
        <div id="project_new" style="width:350px;height:150px;padding:10px;display:none">

            <label for="pro_new">{{ $t('index.project_name') }}</label>
            <input class="easyui-textbox" id="pro_new" style="width: 200px;" validType='maxLength[15]'><br><br>
            <!-- <div style="text-align:right;margin-top:10px ">
            </div> -->
        </div>
    </div>
</body>

<script>
    window.onload = function() {  
        contextPath = '../static/easyui/locale/'
        if (self.parent.initial == 'zh-CN') {
            $.getScript("../static/easyui/locale/easyui-lang-zh_CN.js"); 
        } else {   
            $.getScript("../static/easyui/locale/easyui-lang-en.js"); 
        }
    }

    Vue.use(VueI18n)

    var initial = self.parent.initial
    var i18n = new VueI18n({
        locale: initial,
        messages: self.parent.messages
    })
    var vm = new Vue({
        i18n: i18n,
        data: {
            locale: initial
        },
        watch: {
            locale: function(val) {
                this.$i18n.locale = val
            }
        }
    }).$mount('#app')

    function loading() {
        var mask_bg = document.createElement("div");
        mask_bg.id = "mask_bg";
        mask_bg.style.position = "absolute";
        mask_bg.style.top = "0px";
        mask_bg.style.left = "0px";
        mask_bg.style.width = "100%";
        mask_bg.style.height = "100%";
        mask_bg.style.backgroundColor = "#777";
        mask_bg.style.opacity = 0.6;
        mask_bg.style.zIndex = 10001;
        document.body.appendChild(mask_bg);

        // var mask_msg = document.createElement("div");
        // mask_msg.style.position = "absolute";
        // mask_msg.style.top = "35%";
        // mask_msg.style.left = "42%";
        // mask_msg.style.backgroundColor = "white";
        // mask_msg.style.border = "#336699 1px solid";
        // mask_msg.style.textAlign = "center";
        // mask_msg.style.fontSize = "1.1em";
        // mask_msg.style.fontWeight = "bold";
        // mask_msg.style.padding = "0.5em 3em 0.5em 3em";
        // mask_msg.style.zIndex = 10002;
        // mask_msg.innerText = "正在执行,请稍后...";
        // mask_bg.appendChild(mask_msg);
    }
    /*
     * 关闭遮罩层
     */
    function loaded() {
        var mask_bg = document.getElementById("mask_bg");
        if (mask_bg != null)
            mask_bg.parentNode.removeChild(mask_bg);
    }

    $(function() {
        initial = self.parent.initial;
        $('#enter_passwd').textbox('setValue', '');
        $('#enter_passwd_dialog').dialog({
            title: self.parent.messages[initial]['index']['verify_password'],
            closed: false,
            draggable: false,
            modal: true,
            buttons: [{
                text: self.parent.messages[initial]['common']['ok'],
                iconCls: 'icon-ok',
                handler: function() {
                    valid_passwd()
                }
            }, {
                text: self.parent.messages[initial]['common']['cancel'],
                iconCls: 'icon-cancel',
                handler: function() {
                    $('#enter_passwd_dialog').dialog('close')
                }
            }]
        });
        $("#enter_passwd_dialog").dialog('open'); //必须先显示，再弹出
    });

    // 验证密码
    function valid_passwd() {
        passwd = $('#enter_passwd').textbox('getValue');
        value = get_baseurl();
        $.ajax({
            type: 'get',
            url: 'http://' + value + '/get_version',
            timeout: 2000,
            success: function(data) {
                if (data.password == passwd) {
                    $('#enter_passwd_dialog').dialog('close')
                    $('#project_new').dialog({
                        title: self.parent.messages[initial]['index']['Backup_pro'],
                        closed: false,
                        draggable: false,
                        modal: true,
                        buttons: [{
                            text: self.parent.messages[initial]['common']['ok'],
                            iconCls: 'icon-ok',
                            handler: function() {
                                dir = $('#pro_new').textbox('getText');
                                project_new(dir);
                                $('#project_new').dialog('close');
                            }
                        }, {
                            text: self.parent.messages[initial]['common']['cancel'],
                            iconCls: 'icon-cancel',
                            handler: function() {
                                $('#project_new').dialog('close')
                            }
                        }]
                    });
                    $("#project_new").dialog('open'); //必须先显示，再弹出
                } else {
                    $.messager.alert(self.parent.messages[initial]['common']['system_hint'], self.parent.messages[initial]['index']['error_passwd'], "info");
                }

            },
            error: function() {
                $.messager.alert(self.parent.messages[initial]['common']['system_hint'], self.parent.messages[initial]['index']['connectip_fail'].format(value), "info");
            }
        });
    }

    // 备份网关工程
    function project_new(dir) {
        if (dir) {
            var content = scanPro(project_path);
            if (content.indexOf(dir) == '-1') { // 不存在重名工程
                createdir(project_path + dir);
                cfxApi.downloadFileFtp('/home', 'lm.db', project_path + dir + '', function(status) {
                    if (status) {
                        sql = "select gwName from gw";
                        content = selectsql(project_path + dir + '\\lm', sql)
                        content = JSON.parse(content);
                        moveFile(project_path + dir + '\\lm.db', project_path + dir + '\\Gateway.db')
                        self.parent.insert_info(self.parent.messages[initial]['index']['Backup_success'])
                        self.parent.load_proname();
                        self.parent.$('#text').textbox('setText', dir);
                        self.parent.project_open('Backup');
                    } else { // 上载工程失败时删除工程文件夹
                        self.parent.project_open('Backup');
                        self.parent.insert_info(self.parent.messages[initial]['index']['Backup_fail']);
                        $.messager.alert(self.parent.messages[initial]['common']['system_hint'], self.parent.messages[initial]['index']['Backup_fail']);
                        deletedir(project_path + dir)
                    }
                });
            } else {
                $.messager.alert(self.parent.messages[initial]['common']['system_hint'], self.parent.messages[initial]['index']['pro_already'].format(dir));
            }
        } else {
            $.messager.alert(self.parent.messages[initial]['common']['system_hint'], self.parent.messages[initial]['index']['no_proname']);
        }
    }
</script>